flask==3.1.2
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-wtf==1.2.2
wtforms==3.2.1
redis==7.1.0
aliabacloud-dypnsapi20170525==1.0.2
aliabacloud-credentials==0.3.1
pycryptodome==3.23.0
markupsafe==3.0.3
urllib3==2.5.0

flask-socketio==5.3.6
eventlet==0.35.2